<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>

<h2>Edit Book</h2>

<form enctype="multipart/form-data" method="post" th:action="@{/book/{id}(id=${book.id})/edit}" th:object="${book}">
    <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
    <input th:field="*{id}" type="hidden"/>
    <div>
        <label for="title">Title:</label>
        <input id="title" th:field="*{title}" type="text"/>
    </div>
    <div>
        <label for="author">Author:</label>
        <input id="author" th:field="*{author}" type="text"/>
    </div>
    <div>
        <label for="isbn">ISBN:</label>
        <input id="isbn" th:field="*{isbn}" type="text"/>
    </div>
    <div>
        <label for="description">Description:</label>
        <input id="description" th:field="*{description}" type="text"/>
    </div>
    <div>
        <input type="submit" value="Save Changes"/>
    </div>
</form>

</body>
</html>
